.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2933;
    height: 100vh;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 800px;
    height: 800px;
    margin-top: -100px;


}

.about-info h1 {
    font-size: 50px;
    color: #9aa5b1;
}



.about-links {

    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;

}